@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
 box-sizing: border-box;
}

h1,section {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard-Regular';
    background: radial-gradient(96.74% 276.79% at 3.59% 5.28%, #F0F4FF 0%, #A5B6EE 100%);
    height: 100vh;
}

#app {
    width: 500px;
    margin: 80px auto;
    text-align: center;
}

.title img {
    width: 244px;
    height: 48px;
}

.title {
    margin-bottom: 60px;
}

.tit-timer {
    font-family: 'Pretendard-Regular';
    color: white;
}

.timer-box {
    margin: 0 auto;
    padding: 48px 58px 40px;
    width: 400px;
    height : 360px;
    border: 1px solid black;
    background: linear-gradient(144.07deg, #5572BB 2.13%, #374B7C 102.97%);
    border-radius: 16px;
}

.item-box {
    color: white;
    font-size: 40px;
    width: 80px;
    height: 80px;
    padding: 16px 14px 16px 13px;
    background: linear-gradient(314.28deg, #304577 0%, #4C65A0 83%);
    border: 1px solid #354971;
    border-radius: 4px;
}